/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(21, 21, 21);
}

#app {
  max-width: 600px;
  margin: 20px auto;
  background-color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.post {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  display: flex;
  flex-direction: column;
  color: white;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.post-content {
  line-height: 1.6;
}

.post-image {
  max-width: 100%;
  margin-top: 10px;
  margin-right: 10px;
}

.post-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
} */

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  /* color: white; */
  text-decoration: none;
  margin-right: 20px;
}

.button:hover {
  color: #3498db;
}

/* .icon {
  margin-right: 5px;
} */